/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.box {
  color: #fff;
  font-size: 66px;
  text-align: center;
  padding: 0px;
  width: 33.3333333%;
  height: 120px;
}

.box0 {
  background: #91a2ac;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.box1 { 
  background: #91a2ac;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.box2 {
  background: #91a2ac;
  border-bottom: 1px solid white;
}

.box3 { 
  background: #91a2ac;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.box4 { 
  background: #91a2ac;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.box5 { 
  background: #91a2ac;
  border-bottom: 1px solid white;
}

.box6 { 
  background: #91a2ac;
  border-right: 1px solid white;
}

.box7 { 
  background: #91a2ac;
  border-right: 1px solid white;
}

.box8 {
  background: #91a2ac;
}

.container {
  background: url('https://res.cloudinary.com/dfe57evk4/image/upload/v1494416907/beatiful_sand_particles_lgalqn.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
}

.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
}

.interface {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.8), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 360px;
  height: 135px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 360px;
  height: 45px;
  border-bottom: 1px solid white;
  background: #232326;
  font-family: 'Rubik', monospace;
  font-size: 18px;
  color: aliceblue;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 90px;
  margin-right: 90px;
  background-color: white;
  border: none;
  color: black;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 360px;
  height: 45px;
  background: #232326;
  font-family: 'Rubik', monospace;
  font-size: 18px;
  color: aliceblue;
}

.battle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 360px;
  flex-wrap: wrap;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

button:focus { 
  outline: 0;
}